.card-list {
  margin: 0;
  padding: 70px 0 50px;
  display: grid;
  grid-gap: 60px 30px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 360px));
  justify-content: center;
}

@media screen and (max-width: 1004px) {
  .card-list {
    grid-gap: 47px 30px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 339px));
  }
}

@media screen and (max-width: 640px) {
  .card-list {
    grid-gap: 47px 30px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
  }
}
