.movies {
  box-sizing: border-box;
}

.movies-container {
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1004px) {
  .movies-container {
    padding: 80px 30px;
  }
}

@media screen and (max-width: 640px) {
  .movies-container {
    padding: 0 10px 80px;
  }
}
