.profile {
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px 0 70px;
}

.profile__greeting {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile__form-container {
  width: 410px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin-top: 123px;
}

.profile__input-container {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 17px;
}
.profile__input-container:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.profile__input {
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  text-align: end;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input:focus {
  border-bottom: 1px solid #2be080;
}

.profile__input-label-name {
  padding: 0;
  margin: 0;
}

.profile__form-submit-btn {
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s linear;
  margin-top: 220px;
  padding: 0;
}

.profile__form-submit-btn:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.profile__exit {
  width: 410px;
  margin: 16px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ee3465;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s linear;
}

.profile__exit:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

@media screen and (max-width: 640px) {
  .profile-container {
    padding: 70px 10px 40px;
  }

  .profile__form-container {
    width: 260px;
  }

  .profile__exit-btn {
    width: 300px;
  }
}
