.about-project {
  box-sizing: border-box;
  padding: 110px 70px;
}

.about-project__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  margin: 0;
  padding: 0 0 23px;
  border-bottom: 1px solid black;
}

.about-project__table {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.about-project__table-cell {
  margin: 0 0 0 30px;
  padding: 0;
  max-width: 550px;
}

.about-project__table-cell:first-of-type {
  margin-left: 0;
}

.about-project__content-title {
  margin: 0;
  padding: 70px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.about-project__content {
  margin: 26px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.about-project__timeline {
  margin-top: 110px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

.about-project__timeline-filled {
  height: 100%;
  background-color: #2be080;
}

.about-project__timeline-20 {
  width: 20%;
  display: flex;
}

.about-project__timeline-label {
  font-size: 14px;
  line-height: 17px;
  margin: auto;
  padding: 0;
}

.about-project__timeline-caption {
  display: flex;
  padding-top: 14px;
}

.about-project__timeline-caption-text {
  margin: auto;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a0a0a0;
}

@media screen and (max-width: 1007px) {
  .about-project {
    padding: 90px 50px;
  }
  .about-project__title {
    letter-spacing: -0.04em;
  }
  .about-project__content-title {
    letter-spacing: -0.04em;
  }
  .about-project__table-cell {
    display: inline;
    max-width: 319px;
  }
  .about-project__content {
    margin: 22px 30px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__content:last-of-type {
    margin-right: 0;
  }
  .about-project__timeline {
    margin-top: 93px;
  }
}

@media screen and (max-width: 640px) {
  .about-project {
    padding: 70px 18px;
  }
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 4px;
  }
  .about-project__content-title {
    padding-top: 56px;
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__table {
    width: 100%;
    display: block;
  }
  .about-project__table-cell {
    max-width: 100%;
  }
  .about-project__content {
    margin-top: 16px;
  }
  .about-project__timeline {
    margin-top: 60px;
    height: 35px;
  }
  .about-project__timeline-label {
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__timeline-caption {
    padding-top: 10px;
  }
  .about-project__timeline-20 {
    width: 100px;
  }
  .about-project__timeline-caption-text {
    font-size: 11px;
    line-height: 13px;
  }
}
