.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.not-found__title {
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  margin: 0 auto 0;
}

.not-found__content {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 5px auto 0;
}

.not-found__button {
  text-decoration: none;
  color: #2be080;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 184px auto 0;
  transition: opacity 0.3s linear;
  background-color: transparent;
  outline: none;
  border: none;
}

.not-found__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__content {
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0;
  }
  .not-found__button {
    font-size: 12px;
    line-height: 15px;
  }
}
