@import url(/src/vendor/normalize.css);
@import url(/src/vendor/fonts/fonts.css);

.page {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__container {
  margin: 0, auto;
  min-width: 320px;
  max-width: 1280px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
}
