.search-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.search-form__container {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.search-form__input {
  outline: none;
  border-radius: 4px;
  border: none;
  background-color: #f9f9f9;
  padding: 15px 22px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}

.search-form__input:focus {
  border-bottom: #2be080 1px solid;
}

.search-form__button {
  background-color: #2be080;
  border-radius: 40px;
  min-width: 70px;
  height: 44px;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  border: none;
  transition: opacity 0.3s linear;
  margin: 0 0 0 10px;
}

.search-form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 1004px) {
}
