.saved-movies {
  display: flex;
  flex-direction: column;
}

.saved-movies-container {
  padding: 80px 70px 140px;
}

@media screen and (max-width: 640px) {
  .saved-movies-container {
    padding: 81px 14px 140px;
  }
}
