.header {
  min-height: 74px;
  margin: 0;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__nav-films {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__auth-container {
}

.header__auth-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
  border: none;
  padding: 8px 20px;
  margin-right: 10px;
  transition: background-color 0.3s linear;
  text-decoration: none;
  color: black;
}

.header__auth-link:hover {
  cursor: pointer;
  background-color: #2be080;
  border-radius: 3px;
}

.header__auth-button {
  margin-right: 0;
}

.header__nav-link {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  transition: font-weight 0.3 linear;
  margin: 0 16px 0 44px;
  text-decoration: none;
  color: black;
}

.header__nav-link:last-of-type {
  margin: 0;
}

.header__nav-link:hover {
  cursor: pointer;
  font-weight: 500;
}

.header__profile {
  width: 100px;
  height: 32px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s linear;
  margin: 0;
  padding: 0;
}

.header__profile:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__profile-icon {
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 24px;
  height: 24px;
  margin-left: 7px;
  background-image: url(../../images/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.header__menu {
  display: none;
  transition: opacity 0.3s linear;
}

.header__menu:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__menu-el {
  width: 28px;
  height: 3px;
  background-color: black;
  margin-bottom: 7px;
}

.header__menu-el:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 18px 30px;
  }
  .header__menu {
    display: block;
  }

  .header__nav-link {
    display: none;
  }

  .header__profile {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 18px 14px;
  }
  .header__auth-link {
    font-size: 10px;
    padding: 5px 12px;
    margin-right: 2px;
  }
}
