.filter-checkbox {
  background: white;
  padding: 30px 0 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.filter-checkbox__container {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-left: 48px;
}

.filter-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.filter-checkbox__toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  background-color: white;
  border-radius: 16px;
  transition: 0.1s linear 0.1s;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
}

.filter-checkbox__toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2be080;
  transition: 0.1s linear 0.1s;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle {
  background-color: white;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle:after {
  background-color: #2be080;
  transform: translateX(18px);
}
